<div>
    <table>
        <thead>
            <tr class="t-row">
                <th>Week</th>
                <th>Regular</th>
                <th></th>
                <th>Diesel</th>
                <th></th>
                <th>Premuim</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-content select="tr"></ng-content>
        </tbody>
    </table>
</div>
