<th>{{week.name}} <ng-content></ng-content></th>
<td>{{week.regular.used}}/{{week.regular.available}}</td>
<td>{{ week.regular.used / week.regular.available | percent}}</td>
<td>{{week.diesel.used}}/{{week.diesel.available}}</td>
<td>{{ week.diesel.used / week.diesel.available | percent}}</td>
<td>{{week.premium.used}}/{{week.premium.available}}</td>
<td>{{ week.premium.used / week.premium.available | percent}}</td>
