<div class="container-fluid">
    <div class="container content">
        <div class="row">
            <div class="col-xl-12 logo">
                <img [src]="logo" alt="logo"/>
            </div>
            <div class="col-xl-12 total">
                <h3>{{title}}</h3>
                <app-total [data]="status" [regularPercent]="regularPercent" [dieselPercent]="dieselPercent" [premuimPercent]="premuimPercent" ></app-total>
            </div>
            <div class="col-xl-12 branch">
                <h3>Data From each Branch</h3>
                <div class="branch-name">Branch A</div>
                <div app-branch>
                    <tr app-week-row  [week]="getWeekRow()" *ngFor="let week of [1,2,3,4]; let index = index" >{{index+1}}</tr>
                </div>

                <div class="branch-name">Branch B</div>
                <div app-branch>
                    <tr app-week-row  [week]="getWeekRow()" *ngFor="let week of [1,2,3,4]; let index = index" >{{index+1}}</tr>
                </div>
            </div>
        </div>
    </div>
</div>
