.total{
    border: 1px solid rgba(0,0,0,.125);
    padding: 0;

}

.total h3{
    padding: 10px;
    color: rgba(255, 145, 0, 0.829);
    text-align: center;
}


.content{
    margin-bottom: 30px;
}

.branch{
    margin-top: 25px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 0;
}

.branch h3{
    padding: 10px;
    color: rgba(255, 145, 0, 0.829);
    text-align: center;
}

.t-row{
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.branch-name{
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 81, 255);
}

