
<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
              <div [ngClass]="regularPercent>=70 ? 'card-head-danger':'card-head'">Regular</div>
              <div class="percent">{{status[0].used}}/{{status[0].available}} ({{status[0].used / status[0].available | percent:'2.1-2'}})</div>
              <p class="card-title">Utilization of Regular</p>
              <p><ngb-progressbar [type]="regularPercent>=70 ? 'danger':'success'" [value]="regularPercent"></ngb-progressbar></p>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
              <div [ngClass]="dieselPercent>=70 ? 'card-head-danger':'card-head'">Diesel</div>
              <div class="percent">{{status[1].used}}/{{status[1].available}} ({{status[1].used / status[1].available | percent:'2.1-2'}})</div>
              <p class="card-title">Utilization of Diesel</p>
              <p><ngb-progressbar [type]="dieselPercent>=70 ? 'danger':'success'"  [value]="dieselPercent"></ngb-progressbar></p>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
              <div [ngClass]="premuimPercent>=70 ? 'card-head-danger':'card-head'">Premuim</div>
              <div class="percent">{{status[2].used}}/{{status[2].available}} ({{status[2].used / status[2].available | percent:'2.1-2'}})</div>
              <p class="card-title">Utilization of Premuim</p>
              <p><ngb-progressbar [type]="premuimPercent>=70 ? 'danger':'success'" [value]="premuimPercent"></ngb-progressbar></p>
            </div>
        </div>
    </div>
    
</div>
