.card-head{
    background-color: #28a745!important;
    padding: 8px;
    color: #fff;
    font-size: 18px;
}

.card-head-danger{
    background-color: #dc3545!important;
    padding: 8px;
    color: #fff;
    font-size: 18px;
}


.percent{
    font-size: 22px;
}

.card-title{
    font-size: 14px;
    margin-top: 10px;
}